<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
	<style>
		.content{
			margin-top:120px;
			height: 600px;
		}		
		
		.btn-area{
		width:100%;
		height:50px;
		line-height: 50px;
		text-align: right;
		padding-right: 30px;
	}
	</style>
</th:block>


<div layout:fragment="content">
	
	<div class="container">
		<div class="content">
			<input type="hidden" name="nowPageNumber" id="nowPageNumber" th:value="${data.nowPageNumber}">
			<div class="table-responsive">
			<table class="table">
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="15%">
					<col width="10%">
					<col width="20%">
				</colgroup>
				<thead class="thead-dark">
					<th>글번호</th>
					<th>글제목</th>
					<th>글쓴이</th>
					<th>조회 수</th>
					<th>수정 날짜</th>
				</thead>
				
				<tbody>
					<tr th:each="vo:${data.list}">
						<td>[[${vo.boardId}]]</td>
						<td><a href="javascript:void(0);" th:onclick="goDetail([[${vo.boardId}]]);">
							<span th:text="${vo.boardTitle}"> </span>
						</a></td>
						<td>[[${vo.boardOwner}]]</td>
						<td>[[${vo.boardCount}]]</td>
						<td>[[${vo.updateDate}]]</td>
					</tr>
				</tbody>				
			</table>
		</div>
	</div>
	<div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center" th:utext="${data.pageHTML}"></ul>
		</nav>
	</div>
	
	<div class="btn-area">
		<button type="button" id="writeBtn" class="btn btn-primary" onclick="writerBoard();">글쓰기</button>		
	</div>
	
	</div>
	
	<script>
		
		function goDetail(boardId){
			const nowPageNumber = $('#nowPageNumber').val();
			location.href="/board/detail/view?nowPageNumber=" +nowPageNumber+"&boardId="+boardId;
		}
		
		function movePage(nowPageNumber){
			location.href="/board/boardlist?nowPageNumber=" +nowPageNumber;
		}
		
		function writerBoard(){
			location.href="/board/add/view?nowPageNumber="+ $('#nowPageNumber').val();
		}                                               // nowPageNumber 이걸로하면안되나
		
	</script>
	
</div>


</html>