<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="css">
	
	<style>
	.contents{
		margin-top:120px;
		height:400px;
	}
	
	ul{
	 	list-style: none;
	}
	
	.main-area{
		border-top: 1px solid rgb(98,98,98);
		margin-top:30px;
		padding:30px;
		border-radius: 5px;
	}
	
	.b-table{
		border: 1px solid;
		width:100%;
		height:400px;
	}
	
	.b-table th,td{
		border: 1px solid;
	}
	
	.b-table th{
		background-color: #eeffe1;
	}
	
	.btn-area{
		width:100%;
		height:30px;
		line-height: 30px;
		text-align: right;
		padding-right: 30px;
	}
	</style>
</th:block>


<div layout:fragment= "content">
	
	<div class="container">
		<div class="contents">
			<div style="text-align: center;">
				<h3>게시글 보기</h3>
			</div>
			
			<section class="main-area">
				  <input type="hidden" id="boardId" name="boardId" value="${detail.boardId}">
				  <input type="hidden" id="nowPageNumber" name="nowPageNumber" value="${nowPageNumber}">

				<table class="b-table">
					<colgroup>
						<col width="20%"/>
						<col width="80%"/>
					</colgroup>
					
					<tbody>
						<tr style="height:10%">
							<th>글 제목</th>
							<td><span>[[${detail.boardTitle}]]</span></td>
						</tr>
						
						<tr style="height:10%">
							<th>글 쓴이</th>
							<td><span>[[${detail.boardOwner}]]</span></td>
						</tr>
						
						<tr style="height:10%">
							<th>조회수</th>
							<td><span>[[${detail.boardCount}]]</span></td>
						</tr>
						
						<tr style="height:10%">
							<th>첨부파일</th>
							<td>
							  <a th:each="file:${detail.files}" href="javascript:void(0)" th:onclick="fileDown([[${file.fileId}]])"
							      th:style="${detail.files != null && detail.files.size > 0 ? 'display:block' : 'display:none'}">
								<span>[[${file.originFileName}]]</span>
							  </a>
								<span th:style="${detail.files == null || detail.files.size == 0 ? 'display:block' : 'display:none'}">
									없음
								</span>
							</td>
						</tr>
						
						<tr>
							<th>글 내용</th>
							<td><span>[[${detail.boardContents}]]</span></td>
						</tr>
					</tbody>
					
				</table>
			</section>
			
			<div class="btn-area">
				<button type="button" class="btn btn-primary" id="saveBtn" onclick="save()">글 수정</button>
				<button type="button" class="btn btn-danger" id="cancelBtn" onclick="cancel()">취소</button>
				<button type="but ton" class="btn btn-secondary" id="moveBtn" onclick="goList()">목록</button>
			</div>
		</div>
		
		
	</div>
	
		<script>
			
			function fileDown(fileId){
				location.href = '/api/board/fileDown?fileId='+fileId;
			}
			
		</script>
	
</div>

</html>