<!DOCTYPE html>
<html lnag="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="config">
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">
	<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
	
	<!-- content에서 사용하는 css를 config파일에 대체한다 -->
	<th:block layout:fragment="css"></th:block>
	
</th:block>


</html>